body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* NAV */

.nav-list {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  top: 0vh;
  left: 0vw;
  width: 100%;
  border-bottom: solid black 1px;
  background-color: white;
  margin: 0px;
  box-shadow: 0 0 10px 0 rgba(234, 234, 234, 0.1);
}

li {
  list-style-type: none;
  padding: 1vw;
  margin: 1vw;
}

li:hover {
  background-color: rgb(237, 236, 236);;
  border-radius: 28px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* LINKS */

a {
  text-decoration: none;
}

a,
a:visited {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

/* MAIN BODY */

div {
  padding: 1vw;
}

.bgcolorA,
.bgcolorB {
  padding: 1vw;
  margin: 0vw;
}

.bgcolorA {
  background-color: rgb(237, 236, 236);
}

.section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  overflow: scroll;
  max-height: 80vh;
}

.tech-stack {
  font-size: 10px;
}

/* IMAGES AND OTHER PICTURE MEDIA */

img {
  max-width: 550px;
  max-height: 550px;
}

.mobile-project-img {
  border: solid black 1px;
  max-height: 60vh;
}

.project-img {
  width: 550px;
  height: 300px;
  border: solid black 1px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 10vw;
  height: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border: none;
}

.project-img:hover,
.border-img:hover,
.resume:hover,
.icon:hover {
  box-shadow: 0 0 10px 0 rgba(0, 10, 0, 0.5);
}

.resume {
  width: 40vw;
  height: 100vh;
  border: solid black 1px;
}

.resume-section {
  display: flex;
  justify-content: center;
}

/* button {
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  border-radius: 28px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 3px 3px 3px #888888;
  padding-right: 10vh;
  padding-left: 10vh;
  margin-right: 20vh;
}

button:hover {
  background-color: pink;
  transform: translate(-1px, -1px);
} */

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  img {
    max-width: 250px;
    max-height: 200px;
  }
  .section-items {
    flex-direction: column;
  }
  .icon {
    width: 30vw;
    height: 20vh;
  }
  .project-mobile {
    border: 2px solid black;
  }
  body {
    font-size: 12px;
  }
  .nav-list {
    padding: 1vw;
  }
}
