.nav-list {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  top: 0vh;
  left: 0vw;
  background-color: white;
  width: 100%;
  margin: 0px;
}

#top {
  margin-top: 10vh;
}

li {
  list-style-type: none;
  padding: 1vw;
  margin: 1vw;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

.section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .section-text {
  padding-left: 1vw;
  padding-right: 1vw;
} */

.pink {
  background-color: pink;
}

.white,
.pink {
  padding: 1vw;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 10vw;
  height: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.tech-stack {
  font-size: 10px;
}

div {
  padding: 1vw;
}

#top,
#about,
#projects,
#experience,
#contact {
  margin: 5vh;
}

.resume {
  width: 40vw;
  height: 100vh;
}

button {
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  border-radius: 28px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 3px 3px 3px #888888;
  padding-right: 10vh;
  padding-left: 10vh;
  margin-right: 20vh;
}

button:hover {
  background-color: pink;
  transform: translate(-1px, -1px);
}
