body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

/* NAV */

.nav-list {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  top: 0vh;
  left: 0vw;
  background-color: white;
  width: 100%;
  margin: 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#top {
  margin-top: 10vh;
}

li {
  list-style-type: none;
  padding: 1vw;
  margin: 1vw;
}

li:hover {
  background-color: rgba(255, 192, 203, 1);
  border-radius: 28px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* LINKS */

a {
  text-decoration: none;
}

a,
a:visited {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

/* MAIN BODY */

div {
  padding: 1vw;
}

#main {
  padding: 0vw;
}

.white,
.pink {
  padding: 1vw;
}

.pink {
  background-color: pink;
}

.section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top,
#about,
#projects,
#experience,
#contact {
  margin: 5vh;
}

.tech-stack {
  font-size: 10px;
}

/* IMAGES AND OTHER PICTURE MEDIA */

img {
  max-width: 550px;
  max-height: 550px;
}

.project-img {
  width: 550px;
  height: 300px;
  border: solid black 1px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 10vw;
  height: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border: none;
}

.project-img:hover,
.resume:hover,
.icon:hover {
  box-shadow: 0 0 10px 0 rgba(0, 10, 0, 0.5);
}

.resume {
  width: 40vw;
  height: 100vh;
  border: solid black 1px;
}

.resume-section {
  display: flex;
  justify-content: center;
}

/* button {
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  border-radius: 28px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 3px 3px 3px #888888;
  padding-right: 10vh;
  padding-left: 10vh;
  margin-right: 20vh;
}

button:hover {
  background-color: pink;
  transform: translate(-1px, -1px);
} */

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
}
